<?php
/**
 * MessagesApi
 * PHP version 5
 *
 * @category Class
 * @package  ArtikCloud
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
/**
 *  Copyright 2016 SmartBear Software
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program. 
 * https://github.com/swagger-api/swagger-codegen 
 * Do not edit the class manually.
 */

namespace ArtikCloud\Api;

use \ArtikCloud\Configuration;
use \ArtikCloud\ApiClient;
use \ArtikCloud\ApiException;
use \ArtikCloud\ObjectSerializer;

/**
 * MessagesApi Class Doc Comment
 *
 * @category Class
 * @package  ArtikCloud
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class MessagesApi
{

    /**
     * API Client
     * @var \ArtikCloud\ApiClient instance of the ApiClient
     */
    protected $apiClient;
  
    /**
     * Constructor
     * @param \ArtikCloud\ApiClient|null $apiClient The api client to use
     */
    function __construct($apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://api.artik.cloud/v1.1');
        }
  
        $this->apiClient = $apiClient;
    }
  
    /**
     * Get API client
     * @return \ArtikCloud\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }
  
    /**
     * Set the API client
     * @param \ArtikCloud\ApiClient $apiClient set the API client
     * @return MessagesApi
     */
    public function setApiClient(ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }
  
    
    /**
     * getAggregatesHistogram
     *
     * Get Histogram aggregates
     *
     * @param int $start_date Timestamp of earliest message (in milliseconds since epoch). (required)
     * @param int $end_date Timestamp of latest message (in milliseconds since epoch). (required)
     * @param string $sdid Source device ID of the messages being searched. (optional)
     * @param string $field Message field being queried for building histogram. (optional)
     * @param string $interval Interval of time for building histogram blocks. (Valid values: minute, hour, day, month, year) (optional)
     * @return \ArtikCloud\Model\AggregatesHistogramResponse
     * @throws \ArtikCloud\ApiException on non-2xx response
     */
    public function getAggregatesHistogram($start_date, $end_date, $sdid = null, $field = null, $interval = null)
    {
        list($response, $statusCode, $httpHeader) = $this->getAggregatesHistogramWithHttpInfo ($start_date, $end_date, $sdid, $field, $interval);
        return $response; 
    }


    /**
     * getAggregatesHistogramWithHttpInfo
     *
     * Get Histogram aggregates
     *
     * @param int $start_date Timestamp of earliest message (in milliseconds since epoch). (required)
     * @param int $end_date Timestamp of latest message (in milliseconds since epoch). (required)
     * @param string $sdid Source device ID of the messages being searched. (optional)
     * @param string $field Message field being queried for building histogram. (optional)
     * @param string $interval Interval of time for building histogram blocks. (Valid values: minute, hour, day, month, year) (optional)
     * @return Array of \ArtikCloud\Model\AggregatesHistogramResponse, HTTP status code, HTTP response headers (array of strings)
     * @throws \ArtikCloud\ApiException on non-2xx response
     */
    public function getAggregatesHistogramWithHttpInfo($start_date, $end_date, $sdid = null, $field = null, $interval = null)
    {
        
        // verify the required parameter 'start_date' is set
        if ($start_date === null) {
            throw new \InvalidArgumentException('Missing the required parameter $start_date when calling getAggregatesHistogram');
        }
        // verify the required parameter 'end_date' is set
        if ($end_date === null) {
            throw new \InvalidArgumentException('Missing the required parameter $end_date when calling getAggregatesHistogram');
        }
  
        // parse inputs
        $resourcePath = "/messages/analytics/histogram";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        // query params
        
        if ($start_date !== null) {
            $queryParams['startDate'] = $this->apiClient->getSerializer()->toQueryValue($start_date);
        }// query params
        
        if ($end_date !== null) {
            $queryParams['endDate'] = $this->apiClient->getSerializer()->toQueryValue($end_date);
        }// query params
        
        if ($sdid !== null) {
            $queryParams['sdid'] = $this->apiClient->getSerializer()->toQueryValue($sdid);
        }// query params
        
        if ($field !== null) {
            $queryParams['field'] = $this->apiClient->getSerializer()->toQueryValue($field);
        }// query params
        
        if ($interval !== null) {
            $queryParams['interval'] = $this->apiClient->getSerializer()->toQueryValue($interval);
        }
        
        
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'GET',
                $queryParams, $httpBody,
                $headerParams, '\ArtikCloud\Model\AggregatesHistogramResponse'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\ArtikCloud\ObjectSerializer::deserialize($response, '\ArtikCloud\Model\AggregatesHistogramResponse', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            default:
                $data = \ArtikCloud\ObjectSerializer::deserialize($e->getResponseBody(), '\ArtikCloud\Model\AggregatesHistogramResponse', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * getFieldPresence
     *
     * Get normalized message presence
     *
     * @param int $start_date startDate (required)
     * @param int $end_date endDate (required)
     * @param string $interval String representing grouping interval. One of: &#39;minute&#39; (1 hour limit), &#39;hour&#39; (1 day limit), &#39;day&#39; (31 days limit), &#39;month&#39; (1 year limit), or &#39;year&#39; (10 years limit). (required)
     * @param string $sdid Source device ID of the messages being searched. (optional)
     * @param string $field_presence String representing a field from the specified device ID. (optional)
     * @return \ArtikCloud\Model\FieldPresenceEnvelope
     * @throws \ArtikCloud\ApiException on non-2xx response
     */
    public function getFieldPresence($start_date, $end_date, $interval, $sdid = null, $field_presence = null)
    {
        list($response, $statusCode, $httpHeader) = $this->getFieldPresenceWithHttpInfo ($start_date, $end_date, $interval, $sdid, $field_presence);
        return $response; 
    }


    /**
     * getFieldPresenceWithHttpInfo
     *
     * Get normalized message presence
     *
     * @param int $start_date startDate (required)
     * @param int $end_date endDate (required)
     * @param string $interval String representing grouping interval. One of: &#39;minute&#39; (1 hour limit), &#39;hour&#39; (1 day limit), &#39;day&#39; (31 days limit), &#39;month&#39; (1 year limit), or &#39;year&#39; (10 years limit). (required)
     * @param string $sdid Source device ID of the messages being searched. (optional)
     * @param string $field_presence String representing a field from the specified device ID. (optional)
     * @return Array of \ArtikCloud\Model\FieldPresenceEnvelope, HTTP status code, HTTP response headers (array of strings)
     * @throws \ArtikCloud\ApiException on non-2xx response
     */
    public function getFieldPresenceWithHttpInfo($start_date, $end_date, $interval, $sdid = null, $field_presence = null)
    {
        
        // verify the required parameter 'start_date' is set
        if ($start_date === null) {
            throw new \InvalidArgumentException('Missing the required parameter $start_date when calling getFieldPresence');
        }
        // verify the required parameter 'end_date' is set
        if ($end_date === null) {
            throw new \InvalidArgumentException('Missing the required parameter $end_date when calling getFieldPresence');
        }
        // verify the required parameter 'interval' is set
        if ($interval === null) {
            throw new \InvalidArgumentException('Missing the required parameter $interval when calling getFieldPresence');
        }
  
        // parse inputs
        $resourcePath = "/messages/presence";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        // query params
        
        if ($sdid !== null) {
            $queryParams['sdid'] = $this->apiClient->getSerializer()->toQueryValue($sdid);
        }// query params
        
        if ($field_presence !== null) {
            $queryParams['fieldPresence'] = $this->apiClient->getSerializer()->toQueryValue($field_presence);
        }// query params
        
        if ($start_date !== null) {
            $queryParams['startDate'] = $this->apiClient->getSerializer()->toQueryValue($start_date);
        }// query params
        
        if ($end_date !== null) {
            $queryParams['endDate'] = $this->apiClient->getSerializer()->toQueryValue($end_date);
        }// query params
        
        if ($interval !== null) {
            $queryParams['interval'] = $this->apiClient->getSerializer()->toQueryValue($interval);
        }
        
        
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'GET',
                $queryParams, $httpBody,
                $headerParams, '\ArtikCloud\Model\FieldPresenceEnvelope'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\ArtikCloud\ObjectSerializer::deserialize($response, '\ArtikCloud\Model\FieldPresenceEnvelope', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            default:
                $data = \ArtikCloud\ObjectSerializer::deserialize($e->getResponseBody(), '\ArtikCloud\Model\FieldPresenceEnvelope', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * getLastNormalizedMessages
     *
     * Get Last Normalized Message
     *
     * @param int $count Number of items to return per query. (optional)
     * @param string $sdids Comma separated list of source device IDs (minimum: 1). (optional)
     * @param string $field_presence String representing a field from the specified device ID. (optional)
     * @return \ArtikCloud\Model\NormalizedMessagesEnvelope
     * @throws \ArtikCloud\ApiException on non-2xx response
     */
    public function getLastNormalizedMessages($count = null, $sdids = null, $field_presence = null)
    {
        list($response, $statusCode, $httpHeader) = $this->getLastNormalizedMessagesWithHttpInfo ($count, $sdids, $field_presence);
        return $response; 
    }


    /**
     * getLastNormalizedMessagesWithHttpInfo
     *
     * Get Last Normalized Message
     *
     * @param int $count Number of items to return per query. (optional)
     * @param string $sdids Comma separated list of source device IDs (minimum: 1). (optional)
     * @param string $field_presence String representing a field from the specified device ID. (optional)
     * @return Array of \ArtikCloud\Model\NormalizedMessagesEnvelope, HTTP status code, HTTP response headers (array of strings)
     * @throws \ArtikCloud\ApiException on non-2xx response
     */
    public function getLastNormalizedMessagesWithHttpInfo($count = null, $sdids = null, $field_presence = null)
    {
        
  
        // parse inputs
        $resourcePath = "/messages/last";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        // query params
        
        if ($count !== null) {
            $queryParams['count'] = $this->apiClient->getSerializer()->toQueryValue($count);
        }// query params
        
        if ($sdids !== null) {
            $queryParams['sdids'] = $this->apiClient->getSerializer()->toQueryValue($sdids);
        }// query params
        
        if ($field_presence !== null) {
            $queryParams['fieldPresence'] = $this->apiClient->getSerializer()->toQueryValue($field_presence);
        }
        
        
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'GET',
                $queryParams, $httpBody,
                $headerParams, '\ArtikCloud\Model\NormalizedMessagesEnvelope'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\ArtikCloud\ObjectSerializer::deserialize($response, '\ArtikCloud\Model\NormalizedMessagesEnvelope', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            default:
                $data = \ArtikCloud\ObjectSerializer::deserialize($e->getResponseBody(), '\ArtikCloud\Model\NormalizedMessagesEnvelope', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * getMessageAggregates
     *
     * Get Normalized Message Aggregates
     *
     * @param string $sdid Source device ID of the messages being searched. (required)
     * @param string $field Message field being queried for aggregates. (required)
     * @param int $start_date Timestamp of earliest message (in milliseconds since epoch). (required)
     * @param int $end_date Timestamp of latest message (in milliseconds since epoch). (required)
     * @return \ArtikCloud\Model\AggregatesResponse
     * @throws \ArtikCloud\ApiException on non-2xx response
     */
    public function getMessageAggregates($sdid, $field, $start_date, $end_date)
    {
        list($response, $statusCode, $httpHeader) = $this->getMessageAggregatesWithHttpInfo ($sdid, $field, $start_date, $end_date);
        return $response; 
    }


    /**
     * getMessageAggregatesWithHttpInfo
     *
     * Get Normalized Message Aggregates
     *
     * @param string $sdid Source device ID of the messages being searched. (required)
     * @param string $field Message field being queried for aggregates. (required)
     * @param int $start_date Timestamp of earliest message (in milliseconds since epoch). (required)
     * @param int $end_date Timestamp of latest message (in milliseconds since epoch). (required)
     * @return Array of \ArtikCloud\Model\AggregatesResponse, HTTP status code, HTTP response headers (array of strings)
     * @throws \ArtikCloud\ApiException on non-2xx response
     */
    public function getMessageAggregatesWithHttpInfo($sdid, $field, $start_date, $end_date)
    {
        
        // verify the required parameter 'sdid' is set
        if ($sdid === null) {
            throw new \InvalidArgumentException('Missing the required parameter $sdid when calling getMessageAggregates');
        }
        // verify the required parameter 'field' is set
        if ($field === null) {
            throw new \InvalidArgumentException('Missing the required parameter $field when calling getMessageAggregates');
        }
        // verify the required parameter 'start_date' is set
        if ($start_date === null) {
            throw new \InvalidArgumentException('Missing the required parameter $start_date when calling getMessageAggregates');
        }
        // verify the required parameter 'end_date' is set
        if ($end_date === null) {
            throw new \InvalidArgumentException('Missing the required parameter $end_date when calling getMessageAggregates');
        }
  
        // parse inputs
        $resourcePath = "/messages/analytics/aggregates";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        // query params
        
        if ($sdid !== null) {
            $queryParams['sdid'] = $this->apiClient->getSerializer()->toQueryValue($sdid);
        }// query params
        
        if ($field !== null) {
            $queryParams['field'] = $this->apiClient->getSerializer()->toQueryValue($field);
        }// query params
        
        if ($start_date !== null) {
            $queryParams['startDate'] = $this->apiClient->getSerializer()->toQueryValue($start_date);
        }// query params
        
        if ($end_date !== null) {
            $queryParams['endDate'] = $this->apiClient->getSerializer()->toQueryValue($end_date);
        }
        
        
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'GET',
                $queryParams, $httpBody,
                $headerParams, '\ArtikCloud\Model\AggregatesResponse'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\ArtikCloud\ObjectSerializer::deserialize($response, '\ArtikCloud\Model\AggregatesResponse', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            default:
                $data = \ArtikCloud\ObjectSerializer::deserialize($e->getResponseBody(), '\ArtikCloud\Model\AggregatesResponse', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * getNormalizedMessages
     *
     * Get Normalized Messages
     *
     * @param string $uid User ID. If not specified, assume that of the current authenticated user. If specified, it must be that of a user for which the current authenticated user has read access to. (optional)
     * @param string $sdid Source device ID of the messages being searched. (optional)
     * @param string $mid The SAMI message ID being searched. (optional)
     * @param string $field_presence String representing a field from the specified device ID. (optional)
     * @param string $filter Filter. (optional)
     * @param string $offset A string that represents the starting item, should be the value of &#39;next&#39; field received in the last response. (required for pagination) (optional)
     * @param int $count count (optional)
     * @param int $start_date startDate (optional)
     * @param int $end_date endDate (optional)
     * @param string $order Desired sort order: &#39;asc&#39; or &#39;desc&#39; (optional)
     * @return \ArtikCloud\Model\NormalizedMessagesEnvelope
     * @throws \ArtikCloud\ApiException on non-2xx response
     */
    public function getNormalizedMessages($uid = null, $sdid = null, $mid = null, $field_presence = null, $filter = null, $offset = null, $count = null, $start_date = null, $end_date = null, $order = null)
    {
        list($response, $statusCode, $httpHeader) = $this->getNormalizedMessagesWithHttpInfo ($uid, $sdid, $mid, $field_presence, $filter, $offset, $count, $start_date, $end_date, $order);
        return $response; 
    }


    /**
     * getNormalizedMessagesWithHttpInfo
     *
     * Get Normalized Messages
     *
     * @param string $uid User ID. If not specified, assume that of the current authenticated user. If specified, it must be that of a user for which the current authenticated user has read access to. (optional)
     * @param string $sdid Source device ID of the messages being searched. (optional)
     * @param string $mid The SAMI message ID being searched. (optional)
     * @param string $field_presence String representing a field from the specified device ID. (optional)
     * @param string $filter Filter. (optional)
     * @param string $offset A string that represents the starting item, should be the value of &#39;next&#39; field received in the last response. (required for pagination) (optional)
     * @param int $count count (optional)
     * @param int $start_date startDate (optional)
     * @param int $end_date endDate (optional)
     * @param string $order Desired sort order: &#39;asc&#39; or &#39;desc&#39; (optional)
     * @return Array of \ArtikCloud\Model\NormalizedMessagesEnvelope, HTTP status code, HTTP response headers (array of strings)
     * @throws \ArtikCloud\ApiException on non-2xx response
     */
    public function getNormalizedMessagesWithHttpInfo($uid = null, $sdid = null, $mid = null, $field_presence = null, $filter = null, $offset = null, $count = null, $start_date = null, $end_date = null, $order = null)
    {
        
  
        // parse inputs
        $resourcePath = "/messages";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        // query params
        
        if ($uid !== null) {
            $queryParams['uid'] = $this->apiClient->getSerializer()->toQueryValue($uid);
        }// query params
        
        if ($sdid !== null) {
            $queryParams['sdid'] = $this->apiClient->getSerializer()->toQueryValue($sdid);
        }// query params
        
        if ($mid !== null) {
            $queryParams['mid'] = $this->apiClient->getSerializer()->toQueryValue($mid);
        }// query params
        
        if ($field_presence !== null) {
            $queryParams['fieldPresence'] = $this->apiClient->getSerializer()->toQueryValue($field_presence);
        }// query params
        
        if ($filter !== null) {
            $queryParams['filter'] = $this->apiClient->getSerializer()->toQueryValue($filter);
        }// query params
        
        if ($offset !== null) {
            $queryParams['offset'] = $this->apiClient->getSerializer()->toQueryValue($offset);
        }// query params
        
        if ($count !== null) {
            $queryParams['count'] = $this->apiClient->getSerializer()->toQueryValue($count);
        }// query params
        
        if ($start_date !== null) {
            $queryParams['startDate'] = $this->apiClient->getSerializer()->toQueryValue($start_date);
        }// query params
        
        if ($end_date !== null) {
            $queryParams['endDate'] = $this->apiClient->getSerializer()->toQueryValue($end_date);
        }// query params
        
        if ($order !== null) {
            $queryParams['order'] = $this->apiClient->getSerializer()->toQueryValue($order);
        }
        
        
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'GET',
                $queryParams, $httpBody,
                $headerParams, '\ArtikCloud\Model\NormalizedMessagesEnvelope'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\ArtikCloud\ObjectSerializer::deserialize($response, '\ArtikCloud\Model\NormalizedMessagesEnvelope', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            default:
                $data = \ArtikCloud\ObjectSerializer::deserialize($e->getResponseBody(), '\ArtikCloud\Model\NormalizedMessagesEnvelope', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * sendMessageAction
     *
     * Send Message Action
     *
     * @param \ArtikCloud\Model\MessageAction $data Message or Action object that is passed in the body (required)
     * @return \ArtikCloud\Model\MessageIDEnvelope
     * @throws \ArtikCloud\ApiException on non-2xx response
     */
    public function sendMessageAction($data)
    {
        list($response, $statusCode, $httpHeader) = $this->sendMessageActionWithHttpInfo ($data);
        return $response; 
    }


    /**
     * sendMessageActionWithHttpInfo
     *
     * Send Message Action
     *
     * @param \ArtikCloud\Model\MessageAction $data Message or Action object that is passed in the body (required)
     * @return Array of \ArtikCloud\Model\MessageIDEnvelope, HTTP status code, HTTP response headers (array of strings)
     * @throws \ArtikCloud\ApiException on non-2xx response
     */
    public function sendMessageActionWithHttpInfo($data)
    {
        
        // verify the required parameter 'data' is set
        if ($data === null) {
            throw new \InvalidArgumentException('Missing the required parameter $data when calling sendMessageAction');
        }
  
        // parse inputs
        $resourcePath = "/messages";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        
        
        
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // body params
        $_tempBody = null;
        if (isset($data)) {
            $_tempBody = $data;
        }
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'POST',
                $queryParams, $httpBody,
                $headerParams, '\ArtikCloud\Model\MessageIDEnvelope'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\ArtikCloud\ObjectSerializer::deserialize($response, '\ArtikCloud\Model\MessageIDEnvelope', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            default:
                $data = \ArtikCloud\ObjectSerializer::deserialize($e->getResponseBody(), '\ArtikCloud\Model\MessageIDEnvelope', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
}
