<?php
/**
 * RulesApi
 * PHP version 5
 *
 * @category Class
 * @package  ArtikCloud
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
/**
 *  Copyright 2016 SmartBear Software
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program. 
 * https://github.com/swagger-api/swagger-codegen 
 * Do not edit the class manually.
 */

namespace ArtikCloud\Api;

use \ArtikCloud\Configuration;
use \ArtikCloud\ApiClient;
use \ArtikCloud\ApiException;
use \ArtikCloud\ObjectSerializer;

/**
 * RulesApi Class Doc Comment
 *
 * @category Class
 * @package  ArtikCloud
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class RulesApi
{

    /**
     * API Client
     * @var \ArtikCloud\ApiClient instance of the ApiClient
     */
    protected $apiClient;
  
    /**
     * Constructor
     * @param \ArtikCloud\ApiClient|null $apiClient The api client to use
     */
    function __construct($apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://api.artik.cloud/v1.1');
        }
  
        $this->apiClient = $apiClient;
    }
  
    /**
     * Get API client
     * @return \ArtikCloud\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }
  
    /**
     * Set the API client
     * @param \ArtikCloud\ApiClient $apiClient set the API client
     * @return RulesApi
     */
    public function setApiClient(ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }
  
    
    /**
     * createRule
     *
     * Create Rule
     *
     * @param \ArtikCloud\Model\RuleCreationInfo $rule_info Rule object that needs to be added (required)
     * @param string $user_id User ID (required)
     * @return \ArtikCloud\Model\RuleEnvelope
     * @throws \ArtikCloud\ApiException on non-2xx response
     */
    public function createRule($rule_info, $user_id)
    {
        list($response, $statusCode, $httpHeader) = $this->createRuleWithHttpInfo ($rule_info, $user_id);
        return $response; 
    }


    /**
     * createRuleWithHttpInfo
     *
     * Create Rule
     *
     * @param \ArtikCloud\Model\RuleCreationInfo $rule_info Rule object that needs to be added (required)
     * @param string $user_id User ID (required)
     * @return Array of \ArtikCloud\Model\RuleEnvelope, HTTP status code, HTTP response headers (array of strings)
     * @throws \ArtikCloud\ApiException on non-2xx response
     */
    public function createRuleWithHttpInfo($rule_info, $user_id)
    {
        
        // verify the required parameter 'rule_info' is set
        if ($rule_info === null) {
            throw new \InvalidArgumentException('Missing the required parameter $rule_info when calling createRule');
        }
        // verify the required parameter 'user_id' is set
        if ($user_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $user_id when calling createRule');
        }
  
        // parse inputs
        $resourcePath = "/rules";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        // query params
        
        if ($user_id !== null) {
            $queryParams['userId'] = $this->apiClient->getSerializer()->toQueryValue($user_id);
        }
        
        
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // body params
        $_tempBody = null;
        if (isset($rule_info)) {
            $_tempBody = $rule_info;
        }
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'POST',
                $queryParams, $httpBody,
                $headerParams, '\ArtikCloud\Model\RuleEnvelope'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\ArtikCloud\ObjectSerializer::deserialize($response, '\ArtikCloud\Model\RuleEnvelope', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            default:
                $data = \ArtikCloud\ObjectSerializer::deserialize($e->getResponseBody(), '\ArtikCloud\Model\RuleEnvelope', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * deleteRule
     *
     * Delete Rule
     *
     * @param string $rule_id Rule ID. (required)
     * @return \ArtikCloud\Model\RuleEnvelope
     * @throws \ArtikCloud\ApiException on non-2xx response
     */
    public function deleteRule($rule_id)
    {
        list($response, $statusCode, $httpHeader) = $this->deleteRuleWithHttpInfo ($rule_id);
        return $response; 
    }


    /**
     * deleteRuleWithHttpInfo
     *
     * Delete Rule
     *
     * @param string $rule_id Rule ID. (required)
     * @return Array of \ArtikCloud\Model\RuleEnvelope, HTTP status code, HTTP response headers (array of strings)
     * @throws \ArtikCloud\ApiException on non-2xx response
     */
    public function deleteRuleWithHttpInfo($rule_id)
    {
        
        // verify the required parameter 'rule_id' is set
        if ($rule_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $rule_id when calling deleteRule');
        }
  
        // parse inputs
        $resourcePath = "/rules/{ruleId}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        
        
        // path params
        
        if ($rule_id !== null) {
            $resourcePath = str_replace(
                "{" . "ruleId" . "}",
                $this->apiClient->getSerializer()->toPathValue($rule_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'DELETE',
                $queryParams, $httpBody,
                $headerParams, '\ArtikCloud\Model\RuleEnvelope'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\ArtikCloud\ObjectSerializer::deserialize($response, '\ArtikCloud\Model\RuleEnvelope', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            default:
                $data = \ArtikCloud\ObjectSerializer::deserialize($e->getResponseBody(), '\ArtikCloud\Model\RuleEnvelope', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * getRule
     *
     * Get Rule
     *
     * @param string $rule_id Rule ID. (required)
     * @return \ArtikCloud\Model\RuleEnvelope
     * @throws \ArtikCloud\ApiException on non-2xx response
     */
    public function getRule($rule_id)
    {
        list($response, $statusCode, $httpHeader) = $this->getRuleWithHttpInfo ($rule_id);
        return $response; 
    }


    /**
     * getRuleWithHttpInfo
     *
     * Get Rule
     *
     * @param string $rule_id Rule ID. (required)
     * @return Array of \ArtikCloud\Model\RuleEnvelope, HTTP status code, HTTP response headers (array of strings)
     * @throws \ArtikCloud\ApiException on non-2xx response
     */
    public function getRuleWithHttpInfo($rule_id)
    {
        
        // verify the required parameter 'rule_id' is set
        if ($rule_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $rule_id when calling getRule');
        }
  
        // parse inputs
        $resourcePath = "/rules/{ruleId}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        
        
        // path params
        
        if ($rule_id !== null) {
            $resourcePath = str_replace(
                "{" . "ruleId" . "}",
                $this->apiClient->getSerializer()->toPathValue($rule_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'GET',
                $queryParams, $httpBody,
                $headerParams, '\ArtikCloud\Model\RuleEnvelope'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\ArtikCloud\ObjectSerializer::deserialize($response, '\ArtikCloud\Model\RuleEnvelope', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            default:
                $data = \ArtikCloud\ObjectSerializer::deserialize($e->getResponseBody(), '\ArtikCloud\Model\RuleEnvelope', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * updateRule
     *
     * Update Rule
     *
     * @param string $rule_id Rule ID. (required)
     * @param \ArtikCloud\Model\RuleUpdateInfo $rule_info Rule object that needs to be updated (required)
     * @return \ArtikCloud\Model\RuleEnvelope
     * @throws \ArtikCloud\ApiException on non-2xx response
     */
    public function updateRule($rule_id, $rule_info)
    {
        list($response, $statusCode, $httpHeader) = $this->updateRuleWithHttpInfo ($rule_id, $rule_info);
        return $response; 
    }


    /**
     * updateRuleWithHttpInfo
     *
     * Update Rule
     *
     * @param string $rule_id Rule ID. (required)
     * @param \ArtikCloud\Model\RuleUpdateInfo $rule_info Rule object that needs to be updated (required)
     * @return Array of \ArtikCloud\Model\RuleEnvelope, HTTP status code, HTTP response headers (array of strings)
     * @throws \ArtikCloud\ApiException on non-2xx response
     */
    public function updateRuleWithHttpInfo($rule_id, $rule_info)
    {
        
        // verify the required parameter 'rule_id' is set
        if ($rule_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $rule_id when calling updateRule');
        }
        // verify the required parameter 'rule_info' is set
        if ($rule_info === null) {
            throw new \InvalidArgumentException('Missing the required parameter $rule_info when calling updateRule');
        }
  
        // parse inputs
        $resourcePath = "/rules/{ruleId}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        
        
        // path params
        
        if ($rule_id !== null) {
            $resourcePath = str_replace(
                "{" . "ruleId" . "}",
                $this->apiClient->getSerializer()->toPathValue($rule_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // body params
        $_tempBody = null;
        if (isset($rule_info)) {
            $_tempBody = $rule_info;
        }
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'PUT',
                $queryParams, $httpBody,
                $headerParams, '\ArtikCloud\Model\RuleEnvelope'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\ArtikCloud\ObjectSerializer::deserialize($response, '\ArtikCloud\Model\RuleEnvelope', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            default:
                $data = \ArtikCloud\ObjectSerializer::deserialize($e->getResponseBody(), '\ArtikCloud\Model\RuleEnvelope', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
}
